
{% extends 'staff_pages/staff_base.html' %}
{% block content %}
    <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'index' %}">
            <i class="fa fa-home"></i> Home </a>
          </li>
            <li class="breadcrumb-item">
              <a href="{% url 'course' %}"> Course </a>
          </li>
            <li class="breadcrumb-item active">{{ bc_param }}</li>
        </ol>
      </nav>
    </div>
    <script type="javascript">
        $("textarea#spec").val().replace("<br>", "&#10;");
    </script>

<!-- Modal -->
        {% include 'staff_pages/partials/_modal.html' %}
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body alert-danger text-center">
          <h4><strong>Warning! Delete action is permanent!</strong></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
{#          <form action="{% url 'course_delete' %}" method="post">#}
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal">Delete</button>
{#              </form>#}
      </div>
    </div>
  </div>
</div>

        {{ c_code|json_script:"code" }}
        {{ c_name|json_script:"name" }}
        {{ c_year|json_script:"year" }}
    <div class="container text-center">
        <h1>{{ c_name }} ({{ c_year }})</h1>

    </div>
        <div class="container">
            <button id="btnEdit" class="btn btn-outline-info float-left">Edit</button>
            <button id="btnDelete" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
        </div>

        <div class="container">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td><label class="text-right" for="code">Code:</label></td>
                    <td><label class="text-left" for="code">{{ c_code }}</label></td>
                </tr>
                </tbody>

            </table>
        </div>

    <div class="container">
    <table class="table table-striped">
        <tr>
            <td style="text-align: right; width: 20%">Code:</td>
            <td style="text-align: left">
                <label>{{ c_code }}</label>
            </td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Year:</td>
            <td style="text-align: left">
                <label>{{ c_year }}</label>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 20%">Name:</td>
           <td style="text-align: left">
               <label>{{ c_name }}</label>
           </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 20%">Units:</td>
           <td style="text-align: left">
               <input type="text" id = "units" disabled="disabled"  style="width: 100%">
           </td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Sessions:</td>
            <td style="text-align: left">
                <input type="text" id="sessions" disabled="disabled"  style="width: 100%"><br>
            </td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Description:</td>
            <td style="text-align: left">
                <textarea rows="5" type="text" id="description" disabled="disabled"  style="width: 100%">    </textarea><br>
            </td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Learning outcome:</td>
            <td style="text-align: left">
                <textarea rows="6" type="text" id="learningOutcome" disabled="disabled"  style="width: 100%"></textarea><br>
            </td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Prerequisites:</td>
            <td style="text-align: left">
                <textarea rows="2"  type="text" id="prerequisites" disabled="disabled"  style="width: 100%"></textarea><br>
            </td>
        </tr>
    <br>
<br>

    </table>

    </div>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script>
    let code = sessionStorage.getItem("code");
    let version = sessionStorage.getItem("version");
    let jsonObject = JSON.parse(version);
    var year={{ c_year }};
    console.log(year);
    console.log(jsonObject);
    console.log(jsonObject[year].sessions);
    document.getElementById("sessions").value=jsonObject[year].sessions;
    document.getElementById("units").value=jsonObject[year].units;
    document.getElementById("description").value=jsonObject[year].description;
    document.getElementById("learningOutcome").value=jsonObject[year].learning_outcomes;
    document.getElementById("prerequisites").value=jsonObject[year].prerequisite_text;
        $(document).ready(function () {
            $('#btnEdit').click(function () {
                if ($("#btnEdit").html() == 'Edit') {
                    $("#name").prop("disabled", false);
                    $("#units").prop("disabled", false);
                    $("#sessions").prop("disabled", false);
                    $("#description").prop("disabled", false);
                    $("#learningOutcome").prop("disabled", false);
                    $("#prerequisites").prop("disabled", false);
                    $("#btnEdit").html('Save');
                }
                else {
                    $("#name").prop("disabled", true);
                    $("#units").prop("disabled", true);
                    $("#sessions").prop("disabled", true);
                    $("#description").prop("disabled", true);
                    $("#learningOutcome").prop("disabled", true);
                    $("#prerequisites").prop("disabled", true);
                    $("#btnEdit").html('Edit');
                }
            });

            $("#confirmDeleteButtonModal").click(function () {
                let code = JSON.parse(document.getElementById('code').textContent);
                let year = JSON.parse(document.getElementById('year').textContent);
                let name = JSON.parse(document.getElementById('name').textContent);
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    type:"POST",
                    url: "{% url 'course_delete' %}",
                    data: {
                       "code": code, "year": year, "name": name
                    },
                    dataType: "json",
                    success: function (data) {
                        if(data.response == 'success'){
                            window.location = '{% url 'course' %}' + '?code=' + code + '&year=' + year + '&name=' + name;
                        }
                        else {
                            let m = 'Oops, something wrong, please try again in a few moments!';
                            $('#modal-body').html(m);
                            $('#modal-header').removeClass().addClass('modal-header alert-danger');
                            $('#modal-title').html('Error!');
                            $('#error-modal').modal('show');
                        }
                    }
                })
            });
        });

    </script>

{% endblock %}