{% extends 'staff_pages/staff_base.html' %}
{% block content %}
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fa fa-home"></i> Home </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'course' %}"> Course </a>
                    </li>
                    <li class="breadcrumb-item active">{{ bc_param }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog"
         aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body alert-danger text-center">
                    <h4><strong>Warning! Delete action is permanent! You will back to the search page after clicking the
                        delete button.</strong></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="button" id="delete" class="btn btn-danger" data-dismiss="modal"
                            id="confirmDeleteButtonModal" onclick=deleteData()>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmSaveModal" tabindex="-1" caller-id="" role="dialog"
         aria-labelledby="confirmSaveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body alert-success text-center">
                    <h4><strong>Are you Sure?</strong></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="button" id="save" class="btn btn-success" data-dismiss="modal"
                            id="confirmSaveButtonModal" onclick=saveData()>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1 id="pageTitle"></h1>
    </div>
    {% include 'staff_pages/partials/_message.html' %}
    {% include 'staff_pages/partials/_modal.html' %}

    <div class="container" id="deleteMode">
        <button id="btnEdit" class="btn btn-outline-info float-left">Edit</button>
        <button id="btnDelete" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
    </div>
    <div class="container" id="editMode" style="display: none">
        <button id="btnEditCancel" class="btn btn-outline-info float-left">Cancel</button>
        <button id="btnSave" class="btn btn-outline-success float-right" data-toggle="modal" data-target="#confirmSaveModal">Save</button>
    </div>

    <div class="container h-100" id="queryContainer">
        <table class="table table-striped">
            <tr>
                <td style="text-align: right; width: 20%">Code:</td>
                <td style="text-align: left;width: 80%" id="code_q"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Year:</td>
                <td style="text-align: left;width: 80%" id="year_q"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Title:</td>
                <td style="text-align: left;width: 80%" id="title_q"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Units:</td>
                <td style="text-align: left;width: 80%" id="units_q"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Sessions:</td>
                <td style="text-align: left;width: 80%" id="sessions_q"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Description:</td>
                <td style="text-align: left;width: 80%" id="description_q"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Learning outcome:</td>
                <td style="text-align: left;width: 80%" id="learningOutcome_q"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Incompatible Course:</td>
                <td style=" text-align: left" id="incompatible_q">
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Pre-requisite Course:</td>
                <td style=" text-align: left" id="prerequisite_q">
                </td>
            </tr>
            <br>
            <br>

        </table>
    </div>
    <div class="container h-100" id="editContainer" style="display: none">

        <table class="table table-striped">
            <tr>
                <td style="text-align: right; width: 20%">Code:</td>
                <td style="text-align: left;width: 80%" id="code"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Year:</td>
                <td style="text-align: left;width: 80%" id="year"></td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Title:</td>
                <td style="text-align: left;width: 80%" id="title">
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Units:</td>
                <td style="text-align: left">
                    <input type="text" id="units" style="width: 100%">
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Sessions:</td>
                <td style="text-align: left">
                    <input type="text" id="sessions" style="width: 100%"><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Description:</td>
                <td style="text-align: left">
                    <textarea rows="5" type="text" id="description" style="width: 100%"></textarea>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Learning outcome:</td>
                <td style="text-align: left">
                    <textarea rows="6" type="text" id="learningOutcome" style="width: 100%"></textarea>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Incompatible Course:</td>
                <td style=" text-align: left" id="incompatible">
                </td>
            </tr>
            <tr>
                <td style="text-align: right; width: 20%">Pre-requisite Course:</td>
                <td style=" text-align: left" id="prerequisite">
                </td>
            </tr>
            <br>
            <br>

        </table>

    </div>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script>
        $('#btnEdit').click(function () {
            $('#deleteMode').hide();
            $('#editMode').show();
            $('#queryContainer').hide();
            $('#editContainer').show();
        });
        $('#btnEditCancel').click(function () {
            $('#deleteMode').show();
            $('#editMode').hide();
            $('#queryContainer').show();
            $('#editContainer').hide();
        });

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = location.search.substr(1).match(reg);
            if (r != null) return (r[2]);
            return null;
        }

        var codeS = getQueryString("code");
        var yearS = getQueryString("year");
        var courseUrl = window.location.origin+"/staff"+"/course_detail?"
        document.getElementById("code").innerText = codeS;
        document.getElementById("year").innerText = yearS;
        $('#code_q').text(codeS);
        $('#year_q').text(yearS);
        var incompatible = "";
        var incompatible_q = "";
        var incompatibleList = [];
        let incompatibleTable = document.getElementById("incompatible");
        var prerequisite = "";
        var prerequisite_q = "";
        var prerequisiteList = [];
        let prerequisiteTable = document.getElementById("prerequisite");
        $.ajax({
            url: '../search/coursesearch/',
            data: {"query": codeS, "filters": {"codes": [], "levels": [], "sessions": [], "level": ""}},
            success: function (data) {
                data = data.response[0].versions[yearS];
                document.getElementById("units").value = data.units;
                $('#units_q').text(data.units);
                titleS = data.title;
                document.getElementById("pageTitle").innerText = titleS + " (" + yearS + ")";
                document.getElementById("title").innerText = titleS;
                $('#title_q').text(titleS);
                if (data.sessions == undefined) {
                    document.getElementById("sessions").value = "Empty";
                    $('#sessions_q').text("Empty");
                } else {
                    document.getElementById("sessions").value = data.sessions;
                    $('#sessions_q').text(data.sessions);
                }
                document.getElementById("description").value = data.description;
                $('#description_q').html(data.description.split('\n').join('<br>'));
                document.getElementById("learningOutcome").value = data.learning_outcomes;
                $('#learningOutcome_q').html(data.learning_outcomes.split('\n').join('<br>'));
                //$('#learningOutcome_q').prop('disabled', true);
                if (data.hasOwnProperty("prerequisites")) {
                    if (data.prerequisites.incompatible != undefined) {
                        for (let j = 0; j < data.prerequisites.incompatible.length; j++) {
                            incompatibleList.push(data.prerequisites.incompatible[j].toString().replace(/\s*/g,""));
                        }
                    }
                    if (data.prerequisites["pre-requisite"] != undefined) {
                        for (let i = 0; i < data.prerequisites["pre-requisite"].length; i++) {
                            if (i > 0) {
                                prerequisiteList.push("and");
                            }
                            for (let j = 0; j < data.prerequisites["pre-requisite"][i].length; j++) {
                                if (j > 0) {
                                    prerequisiteList.push("or");
                                }
                                if (data.prerequisites["pre-requisite"][i][j].toString().substring(0, 1) == "{") {
                                    prerequisiteList.push(data.prerequisites["pre-requisite"][i][j].toString().replace(/\s*/g,"").substring(12, 20));
                                } else {
                                    prerequisiteList.push(data.prerequisites["pre-requisite"][i][j].toString().replace(/\s*/g,""));
                                }
                            }
                        }
                    }
                }
                for (let i = 0; i < incompatibleList.length; i++) {
                    let link = courseUrl + "code=" + incompatibleList[i] + "&year=" + yearS;
                    incompatible +=  "<input type=\"text\" id=\"incompatible" + i + "\"value=\"" + incompatibleList[i] + "\">" + "<br>";
                    incompatible_q += "<a href =" + link + ">" + incompatibleList[i] +  "<a>" + "<br>";
                }
                for (let i = 0; i < prerequisiteList.length; i++) {
                    if (data.prerequisites["pre-requisite"].length > 1 && prerequisiteList[i] == "and") {
                        prerequisite += "<strong>And</strong><br>";
                        prerequisite_q += "<strong>And</strong><br>"
                    } else if (prerequisiteList[i] == "or") {
                        prerequisite += "<strong>Or</strong><br>";
                        prerequisite_q += "<strong>Or</strong><br>";
                    } else if (prerequisiteList[i] != "and") {
                        let link = courseUrl + "code=" + prerequisiteList[i] + "&year=" + yearS;
                        prerequisite +=  "<input type=\"text\" id=\"prerequisite" + i + "\"value=\"" + prerequisiteList[i] + "\">"+ "<br>";
                        prerequisite_q += "<a href =" + link + ">" + prerequisiteList[i] +  "<a>" + "<br>";
                    }
                }
                incompatibleTable.innerHTML = incompatible;
                prerequisiteTable.innerHTML = prerequisite;
                $('#incompatible_q').html(incompatible_q);
                $('#prerequisite_q').html(prerequisite_q);
            }

        });

        function saveData() {
            let sessions=document.getElementById("sessions").value;
            let description=document.getElementById("description").value;
            let outcome=document.getElementById("learningOutcome").value;
            let unit = document.getElementById("units").value;
            for (let i = 0; i < prerequisiteList.length; i++) {
                prerequisiteList[i]=document.getElementById("prerequisite" + i).value;
            }
            for (let i = 0; i < incompatibleList.length; i++) {
                incompatibleList[i]=document.getElementById("incompatible" + i).value;
            }
            let postPrerequisite= JSON.stringify(prerequisiteList);
            let postIncompatible= JSON.stringify(incompatibleList);
            $.ajax({
                url: '../degree/saveCourse',
                data: {"code": codeS, "year": yearS,"units":unit,"sessions":sessions,"description":description,"prerequisite":postPrerequisite,"incompatible":postIncompatible, "outcome": outcome},
                dataType:"json",
                success: function (data) {
                    if(data.response === 'success'){
                        //show message
                        $('#msg_header').text('Success: ');
                        $('#msg_class').removeClass().addClass("alert alert-success text-center");
                        $('#msg').html('Update Course Successful! Refresh Page in 5 Seconds');
                        $('#message').show();
                        setTimeout(function(){
                            $('#msg').html('Update Course Successful! Refresh Page in 4 Seconds');
                            $('#message').show();
                        }, 1000);
                        setTimeout(function(){
                            $('#msg').html('Update Course Successful! Refresh Page in 3 Seconds');
                            $('#message').show();
                        }, 2000);
                        setTimeout(function(){
                            $('#msg').html('Update Course Successful! Refresh Page in 2 Seconds');
                            $('#message').show();
                        }, 3000);
                        setTimeout(function(){
                            $('#msg').html('Update Course Successful! Refresh Page in 1 Seconds');
                            $('#message').show();
                        }, 4000);
                        setTimeout(function(){
                            location.reload();
                        }, 5000);
                    } else if (data.response === 'validation') {
                        $('#msg_header').text('Error: ');
                        $('#msg_class').removeClass().addClass("alert alert-danger text-center");

                        $('#msg').text(data.msg);
                        $('#message').show();
                        setTimeout(hideMessage, 5000);
                        $('#' + data.element).removeClass().addClass('form-control is-invalid');
                    } else {
                        var mesej = 'Oops, something wrong, please try again in a few moments!';
                        $('#modal-body').html(mesej);
                        $('#modal-header').removeClass().addClass('modal-header alert-danger');
                        $('#modal-title').html('Error!');
                        $('#error-modal').modal('show');
                    }
                }
            });
        }

        function deleteData() {
            $.ajax({
                url: '../degree/delete',
                data: {"code": codeS, "type": "degree", "year": yearS},
                dataType:"json",
                success: function (data) {
                    if(data.response === 'success'){
                        window.location.href='course';
                    }
                    else {
                        var mesej = 'Oops, something wrong, please try again in a few moments!';
                        $('#modal-body').html(mesej);
                        $('#modal-header').removeClass().addClass('modal-header alert-danger');
                        $('#modal-title').html('Error!');
                        $('#error-modal').modal('show');
                    }
                }

            });
        }

        function deleteData_() {
            console.log(codeS + yearS);
            $.ajax({
                url: '../degree/delete',
                data: {"code": codeS, "type": "course", "year": yearS},
                success: function (data) {
                    console.log(data)
                }

            });
            window.location.href='course';
        }
    </script>

{% endblock %}