

{% extends 'staff_pages/staff_base.html' %}

{% block content %}
    <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'index' %}">
            <i class="fa fa-home"></i> Home </a>
          </li>
            <li class="breadcrumb-item active">{{ bc_param }}</li>
        </ol>
      </nav>
    </div>
  </section>

    <h1 class="display-6 text-center">Add A New Course</h1>


  <form id="course_form" method="post">
  {% csrf_token %}
    <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="code">Code:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="code" placeholder="Course Code" name="code" >
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="year">Academic Year:</label>
      <div class="col-sm-2">
        <select id = "year" class="custom-select">
            {% for year in years %}
                        {% if year == year_now %}
                            <option selected value="{{ year }}">{{ year }}</option>
                        {% else %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endif %}
                    {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="name">Name:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" placeholder="Name" name="name" >
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="units">Units:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="units" placeholder="Units" name="units" >
      </div>
    </div>
  <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="session">Session:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="session" placeholder="Session" name="session" >
      </div>
    </div>
  <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="description">Description:</label>
      <div class="col-sm-9">
        <textarea rows="3" class="form-control" id="description" placeholder="Description" name="description" ></textarea>
      </div>
    </div>
  <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="outcome">Learning Outcome:</label>
      <div class="col-sm-9">
        <textarea rows="3" class="form-control" id="outcome" placeholder="Learning Outcome" name="outcome" ></textarea>
      </div>
    </div>
  <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="prerequisite">Incompatible Course:</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" id="incompatible" placeholder="Incompatible Course"
                 name="incompatible">
      </div>
  </div>
      <div class="form-group row">
          <label class="control-label col-sm-2 text-right" for="prerequisite">Pre-requisite Course:</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="prerequisite" placeholder="Pre-requisite Course"
                     name="prerequisite">
          </div>
      </div>
      <div class="form-group row">
          <label class="control-label col-sm-2 text-right" for="prerequisite">Search:</label>
          <div class="col col-lg-4">
              <input type="text" id="search" name="search" class="form-control" placeholder="Course Code ">
          </div>
          <div class="col col-lg-2">
              <button onclick="showCourse()" class="btn btn-outline-primary" id="search">Search</button>
          </div>
      </div>
      <div style="width: 100%; text-align: center">
          <div>&nbsp</div>
          <div class="table-responsive">
              <table id="Table" class="table table-hover" style="width: 65%; margin: auto">

              </table>
          </div>
    </div>
    <div class="form-group text-center">
      <div class="col-sm-14">
          <button type="submit" class="btn btn-outline-primary" onclick="saveCourse()" id="btnSave">Save</button>
      </div>
    </div>
      </div>
  </form>
    <script>
        function showCourse() {
            var year = document.getElementById("year").value;
            let courses = document.getElementById("search").value;
            let tableData = "<thead class = \"thead-light\">\n" +
                "                    <tr>\n" +
                "                      <th scope=\"col\" width=\"20%\">Course Code</th>\n" +
                "                      <th scope=\"col\" width=\"50%\">Course Title</th>\n" +
                "                      <th scope=\"col\" width=\"15%\"></th>\n" +
                "<th scope=\"col\" width=\"15%\"></th>\n" +
                "                    </tr>\n" +
                "                  </thead>";
            tableData += "<tbody>\n" +
                "    <tr>";
            courseCodes = [];
            courseVersions = [];
            const courseUnits = [];
            const courseTitles = [];
            var versions = "";
            $.ajax({
                url: '../search/coursesearch/',
                data: {"query": courses, "filters": {"codes": [], "levels": [], "sessions": [], "level": ""}},
                success: function (data) {
                    year = document.getElementById("year").value;
                    for (let i = 0; i < data.response.length; i++) {
                        if (data.response[i].course_code.toString().toLowerCase().includes(courses.toString().toLowerCase()) == true) {
                            versions = data.response[i].versions[year];
                            if (versions != undefined) {
                                courseCodes.push(data.response[i].course_code);
                                courseTitles.push(versions.title);
                            }
                        }
                    }
                    if (courseCodes.length == 0) {
                        tableData += "<td colspan=\"3\">No Such Course</td></tr>";
                    } else {
                        for (let i = 0; i < courseCodes.length; i++) {
                            for (let j = 0; j < 4; j++) {
                                if (j == 0) {
                                    tableData += "<td width=\"20%\">" + "<a href=\"course_detail?code=" + courseCodes[i] + "&year=" + year + "\" >"
                                        + courseCodes[i] +
                                        "</a>" +
                                        "</td>";
                                } else if (j == 1) {
                                    tableData += "<td class=\"text-left\">" + "<a href=\"course_detail?code=" + courseCodes[i] + "&year=" + year + "\" >" +
                                        courseTitles[i] + "</a>" + "</td>";
                                } else if (j == 2) {
                                    tableData += "<td>" + "<button  class=\"btn btn-outline-primary\" id=\"search\">Add incompatible course</button>" + "</td>";
                                } else if (j == 3) {
                                    tableData += "<td>" + "<button  class=\"btn btn-outline-primary\" id=\"search\">Add prerequsite course</button>" + "</td>";
                                }
                            }
                            tableData += "</tr>" + "<tr>";
                        }
                        tableData += "</tbody>";
                    }
                    $("#Table").html(tableData);
                }
            });
        }

        function saveCourse() {
            boot4.confirm({
                msg: "Are you sure to save ?",
                callback: function (result) {
                    if (result) {
                        console.log("save success");
                    } else {
                        console.log("cancel");
                    }
                }
            });
        }

        function addIncompatibal() {

        }
    </script>

{% endblock %}
