{% extends 'staff_pages/staff_base.html' %}

{% block content %}
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fa fa-home"></i> Home </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'degree' %}"> Degree </a>
                    </li>
                    <li class="breadcrumb-item active">{{ bc_param }}</li>
                </ol>
            </nav>
        </div>
    </section>
    {% include 'staff_pages/partials/_alerts.html' %}
    {% if delete == 'true' %}
        <div class="jumbotron jumbotron-fluid alert-success">
            <div class="container text-center">
                <h1 class="display-4">You Have Successfully <strong>Delete</strong></h1>
                <h1 class="display-3 alert-primary">{{ bc_param }}</h1>
                <p class="lead">To undo, please click <strong><a href="#" id="backtoquery">HERE</a></strong></p>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <table style="width: 100%">
                <tr>
                    <td style="width: 90%"><h1 class="text-center" id="pageTitle"></h1></td>
                    <td>
                        <button id="btnEdit" class="btn btn-outline-info">Edit</button>
                        <button id="btnDelete" class="btn btn-outline-danger">Delete</button>
                    </td>
                </tr>
            </table>

        </div>

        <div class="container h-100">
            <table class="table table-striped">
                <tr>
                    <td style="text-align: right; width: 20%">Code:</td>
                    <td style="text-align: left" id="code"></td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Year:</td>
                    <td style="text-align: left" id="year"></td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Name:</td>
                    <td style="text-align: left" id="title">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Units:</td>
                    <td id="Units" style="text-align: left">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Compulsory Course:</td>
                    <td id="compulsory" style="text-align: left">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Specialisation:</td>
                    <td id="specialisation" style="text-align: left">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Study Plan:</td>
                    <td id="plan" style="text-align: left">
                    </td>
                </tr>
            </table>

        </div>
    {% endif %}
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = location.search.substr(1).match(reg);
            if (r != null) return (r[2]);
            return null;
        }

        var codeS = getQueryString("code");
        var yearS = getQueryString("year");
        var titleS = getQueryString("title");
        titleS = titleS.replace(/%20/g, " ");
        pageTitleS = titleS + " (" + yearS + ")";
        pageTitle.innerHTML = pageTitleS;
        document.getElementById('code').innerText = codeS;
        document.getElementById('year').innerText = yearS;
        document.getElementById('title').innerText = titleS;
        var compulsory = "";
        var compulsoryList = [];
        var specList = [];
        var compulsoryTable = document.getElementById("compulsory");
        var spec = "";
        let specTable = document.getElementById("specialisation");
        var planList = [];
        var planString = "";
        let planTable = document.getElementById("plan");
        $.ajax({
            url: '../degree/degreeplan',
            data: {"degree_code": codeS, "year": yearS},
            method: 'GET',
            success: function (data) {
                console.log("degreeplan success");
                for (let i = 0; i < data.response.length; i++) {
                    for (let j = 0; j < data.response[j].length; j++) {

                        planList.push(data.response[i][j].code)
                    }
                }
                for (let i = 0; i < planList.length; i++) {
                    if (i % 4 == 0) {
                        plan += "<input type=\"text\" disabled=\"true\" style=\"width: 100%\" value=\"semester" + (i / 4 + 1) + "\">" + "<br>";
                    }
                    plan += "<input type=\"text\" id=\"plan" + i + "\"disabled=\"true\" style=\"width: 100%\" value=\"" + planList[i] + "\">" + "<br>";
                }
                planTable.innerHTML = plan;
            }
        });
        $.ajax({
            url: '../degree/degreereqs',
            data: {"query": codeS + "-" + yearS},
            success: function (data) {
                console.log("degreereqs success");
                document.getElementById('Units').innerText = data.units;
                if (data.required.compulsory_courses != undefined) {

                    for (let i = 0; i < data.required.compulsory_courses.length; i++) {
                        compulsoryList.push(data.required.compulsory_courses[i])
                    }
                }
                for (let i = 0; i < data.required["one_from_m/m/s"].length; i++) {
                    let specArray = data.required["one_from_m/m/s"][i].toString().split(",");
                    for (let j = 0; j < specArray.length; j++) {
                        specList.push(specArray[j]);
                    }
                }
                for (let i = 0; i < compulsoryList.length; i++) {
                    compulsory += "<input type=\"text\" id=\"compulsory" + i + "\"disabled=\"true\" style=\"width: 100%\" value=\"" + compulsoryList[i] + "\">" + "<br>";
                }
                for (let i = 0; i < specList.length; i++) {
                    spec += "<input type=\"text\" id=\"spec" + i + "\"disabled=\"true\" style=\"width: 100%\" value=\"" + specList[i] + "\">" + "<br>";
                }
                specTable.innerHTML = spec;
                compulsoryTable.innerHTML = compulsory;

                $(document).ready(function () {
                    $('#btnEdit').click(function () {
                        if ($("#btnEdit").html() == 'Edit') {
                            $("#btnEdit").html('Save');
                            for (let i = 0; i < compulsoryList.length; i++) {
                                document.getElementById("compulsory" + i).disabled = false;
                            }
                            for (let i = 0; i < specList.length; i++) {
                                document.getElementById("spec" + i).disabled = false;
                            }
                            for (let i = 0; i < planList.length; i++) {
                                document.getElementById("plan" + i).disabled = false;
                            }
                        } else {
                            $("#btnEdit").html('Edit');
                            for (let i = 0; i < compulsoryList.length; i++) {
                                document.getElementById("compulsory" + i).disabled = true;
                            }
                            for (let i = 0; i < specList.length; i++) {
                                document.getElementById("spec" + i).disabled = true;
                            }
                            for (let i = 0; i < planList.length; i++) {
                                document.getElementById("plan" + i).disabled = false;
                            }
                            boot4.confirm({
                                msg: "Are you sure you want to update {{ bc_param }} ?",
                                callback: function (result) {
                                    if (result) {
                                        var url = window.location.href.replace('mode=edit', 'mode=query');
                                        url += '&safe=true';
                                        window.location.href = url;
                                    } else {
                                        console.log("cancel");
                                    }
                                }
                            });
                        }
                    });
                    $("#btnDelete").click(function () {
                        boot4.confirm({
                            msg: "Are you sure you want to delete {{ bc_param }} ?",
                            callback: function (result) {
                                if (result) {
                                    window.location.search += '&delete=true';
                                } else {
                                    console.log("cancel");
                                }
                            }
                        });
                    });
                    $("#backtoquery").click(function () {
                        window.location.href = window.location.href.replace('delete=true', 'delete=false');
                    });


                });
            }
        });


    </script>

{% endblock %}