<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>

{% extends 'staff_pages/staff_base.html' %}
{% block content %}
    <h1 class="display-6 text-center">Add A New Degree</h1>
    <br>
    <div class="col-sm-11">
        <button type="submit" class="btn btn-outline-info pull-right" onclick="saveCourse()" id="btnSave">Save</button>
    </div>
    <div>&nbsp</div>
    <div>&nbsp</div>
    <div class="form-group row">
      <label class="control-label col-sm-2 text-right" for="code">Code:</label>
      <div class="col-sm-2">
          <input type="text" class="form-control" id="code" placeholder="Degree Code" name="code">
      </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2 text-right">Year:</label>
      <div class="col-sm-2">
          <select class="custom-select" id="year">
            {% for year in years %}
                        {% if year == year_now %}
                            <option selected value="{{ year }}">{{ year }}</option>
                        {% else %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endif %}
                    {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2 text-right">Title:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="title" placeholder="Title" name=>
      </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2 text-right">Compulsory Courses:</label>
        <div class="col-sm-8" id="compulsory">
      </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2 text-right">Study Plan:</label>
        <div class="col-sm-2">
            <select class="custom-select" id="planYear" onchange="drawTable()">
                <option value="1" selected>1 Year</option>
                <option value="2">2 Years</option>
                <option value="3">3 Years</option>
                <option value="4">4 Years</option>
                <option value="5">5 Years</option>
            </select>
      </div>
    </div>
    <div class="form-group row">
        <table id="planTable" class="table table-hover" style="width: 70%; margin: auto">
        </table>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2 text-right" for="prerequisite">Search:</label>
        <div class="col col-lg-4">
            <input type="text" id="search" name="search" class="form-control" placeholder="Course Code ">
        </div>
        <div class="col col-lg-2">
            <button onclick="showCourse()" class="btn btn-outline-primary" id="search">Search</button>
        </div>
    </div>
    <div style="width: 100%; text-align: center">
        <div>&nbsp</div>
        <div class="table-responsive">
            <table id="Table" class="table table-hover" style="width: 65%; margin: auto">

            </table>
        </div>
    </div>
    </div>
  </form>
    <script>
        var length = 0;
        let planString = "<thead class = \"thead-light\">\n" +
            "                    <tr>\n" +
            "                      <th scope=\"col\" width=\"20%\">Year</th>\n" +
            "                      <th scope=\"col\" width=\"20%\"></th>\n" +
            "                      <th scope=\"col\" width=\"20%\"></th>\n" +
            "                      <th scope=\"col\" width=\"20%\"></th>\n" +
            "                      <th scope=\"col\" width=\"20%\"></th>\n" +
            "                    </tr>\n" +
            "                  </thead>";
        planString += "<tbody>\n" +
            "    <tr>";
        let planYear = document.getElementById("planYear").value;
        for (let i = 0; i < planYear; i++) {
            planString += "<td>" + "Year " + (i + 1) + "</td>";
            for (let j = 0; j < 4; j++) {
                planString += "<td>" + "<input type=\"text\" id=\"plan" + length + "\"  class=\"form-control\" >" + "</td>";
                length++;
            }
            planString += "</tr>" + "<tr>";
            planString += "<td>" + "" + "</td>";
            for (let j = 0; j < 4; j++) {
                planString += "<td>" + "<input type=\"text\" id=\"plan" + length + "\" class=\"form-control\" >" + "</td>";
                length++;
            }
            planString += "</tr>" + "<tr>";
        }
        planString += "</tbody>";
        $("#planTable").html(planString);

        function drawTable() {
            length = 0;
            let planString = "";
            planString = "<thead class = \"thead-light\">\n" +
                "                    <tr>\n" +
                "                      <th scope=\"col\" width=\"20%\">Year</th>\n" +
                "                      <th scope=\"col\" width=\"20%\"></th>\n" +
                "                      <th scope=\"col\" width=\"20%\"></th>\n" +
                "                      <th scope=\"col\" width=\"20%\"></th>\n" +
                "                      <th scope=\"col\" width=\"20%\"></th>\n" +
                "                    </tr>\n" +
                "                  </thead>";
            planString += "<tbody>\n" +
                "    <tr>";
            let planYear = document.getElementById("planYear").value;
            for (let i = 0; i < planYear; i++) {
                planString += "<td>" + "Year " + (i + 1) + "</td>";
                for (let j = 0; j < 4; j++) {
                    planString += "<td>" + "<input type=\"text\" id=\"plan" + length + "\"  class=\"form-control\" >" + "</td>";
                    length++;
                }
                planString += "</tr>" + "<tr>";
                planString += "<td>" + "" + "</td>";
                for (let j = 0; j < 4; j++) {
                    planString += "<td>" + "<input type=\"text\" id=\"plan" + length + "\" class=\"form-control\" >" + "</td>";
                    length++;
                }
                planString += "</tr>" + "<tr>";
            }
            planString += "</tbody>";
            $("#planTable").html(planString);
            console.log(length);
        }

        function showCourse() {
            var year = document.getElementById("year").value;
            let courses = document.getElementById("search").value;
            let tableData = "<thead class = \"thead-light\">\n" +
                "                    <tr>\n" +
                "                      <th scope=\"col\" width=\"25%\">Course Code</th>\n" +
                "                      <th scope=\"col\" width=\"60%\">Course Title</th>\n" +
                "                      <th scope=\"col\" width=\"15%\"></th>\n" +
                "                    </tr>\n" +
                "                  </thead>";
            tableData += "<tbody>\n" +
                "    <tr>";
            courseCodes = [];
            courseVersions = [];
            const courseUnits = [];
            const courseTitles = [];
            var versions = "";
            $.ajax({
                url: '../search/coursesearch/',
                data: {"query": courses, "filters": {"codes": [], "levels": [], "sessions": [], "level": ""}},
                success: function (data) {

                    year = document.getElementById("year").value;
                    console.log(year);
                    for (let i = 0; i < data.response.length; i++) {
                        versions = data.response[i].versions[year];
                        if (versions != undefined) {
                            console.log(versions)
                            courseCodes.push(data.response[i].course_code);
                            courseTitles.push(versions.title);
                        }
                    }
                    if (courseCodes.length == 0) {
                        tableData += "<td colspan=\"3\">No Such Course</td></tr>";
                    } else {
                        for (let i = 0; i < courseCodes.length; i++) {
                            for (let j = 0; j < 3; j++) {
                                if (j == 0) {
                                    tableData += "<td width=\"20%\">" + "<a href=\"course_detail?code=" + courseCodes[i] + "&year=" + year + "\" >"
                                        + courseCodes[i] +
                                        "</a>" +
                                        "</td>";
                                } else if (j == 1) {
                                    tableData += "<td class=\"text-left\">" + "<a href=\"course_detail?code=" + courseCodes[i] + "&year=" + year + "\" >" +
                                        courseTitles[i] + "</a>" + "</td>";
                                } else if (j == 2) {
                                    tableData += "<td>" + "<button  class=\"btn btn-outline-primary\" id=\"search\">Add complulsory course</button>" + "</td>";
                                }
                            }
                            tableData += "</tr>" + "<tr>";
                        }
                        tableData += "</tbody>";
                    }
                    $("#Table").html(tableData);
                }
            });
        }

        function saveCourse() {
            boot4.confirm({
                msg: "Are you sure to save ?",
                callback: function (result) {
                    if (result) {
                        console.log("save success");
                    } else {
                        console.log("cancel");
                    }
                }
            });
        }

        function addIncompatibal() {

        }
    </script>

{% endblock %}
