
{% extends 'staff_pages/staff_base.html' %}
{% block content %}
    <script type="javascript">
        $("textarea#spec").val().replace("<br>", "&#10;");
    </script>
<form id="forms"></form>
    <div class="container-fluid">
        <table style="width: 100%">
            <tr>
                <td style="width: 90%"><h1 class="text-center">{{ d_name }} ({{ d_year }})</h1></td>
                <td><button id="btnEdit">Edit</button> <button>Delete</button></td>
            </tr>
        </table>

    </div>

    <div class="container h-100">
    <table class="table table-striped">
        <tr>
            <td style="text-align: right; width: 20%">Code:</td>
            <td style="text-align: left">{{ d_code }}</td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Year:</td>
            <td style="text-align: left">{{ d_year }}</td>
        </tr>
        <tr>
            <td style="text-align: right; width: 20%">Name:</td>
           <td style="text-align: left">
               <input type="text" id = "name" disabled="disabled" value="{{ d_name }}" style="width: 100%">
           </td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Compulsory Courses:</td>
            <td style="text-align: left">
               {% if comps %}
                    {% for comp in comps %}
                        <input type="text" disabled="disabled" value="{{ comp }}" style="width: 100%"><br>
                    {% endfor %}
                {% else %}
                   <input type="text" disabled="disabled" value="-" style="width: 100%">
                {% endif %}
            </td>
        </tr>
        <tr>
             <td style="text-align: right; width: 20%">Specialisation:</td>
            <td style="text-align: left">
                {% if specs %}
                    {% for spec in specs %}
                        <input type="text" disabled="disabled" value="{{ spec }}" style="width: 100%"><br>
                    {% endfor %}
                {% else %}
                    <input type="text" disabled="disabled" value="-" style="width: 100%">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="text-align: right; width: 20%">Study Plan:</td>
            <td style="text-align: left">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 10%">Year 1</td>
                        <td><input type="text" disabled="disabled" id="a1" value="{{plan1.course1 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="b1" value="{{ plan1.course2 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="c1" value="{{ plan1.course3 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="d1" value="{{ plan1.course4 }}" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="text" disabled="disabled" id="e1" value="{{ plan1.course5 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="f1" value="{{ plan1.course6 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="g1" value="{{ plan1.course7 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="h1" value="{{ plan1.course8 }}" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td>Year 2</td>
                        <td><input type="text" disabled="disabled" id="i1" value="{{ plan1.course9 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="j1" value="{{ plan1.course10 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="k1" value="{{ plan1.course11 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="l1" value="{{ plan1.course12 }}" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="text" disabled="disabled" id="m1" value="{{ plan1.course13 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="n1" value="{{ plan1.course14 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="o1" value="{{ plan1.course15 }}" style="width: 100%"></td>
                        <td><input type="text" disabled="disabled" id="p1" value="{{ plan1.course16 }}" style="width: 100%"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--<tr>
            <td style="text-align: right; width: 20%">Study Plan (Start Sem. 2):</td>
            <td style="text-align: left">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 10%">Year 1</td>
                        <td><textarea class="form-control" rows="1" id="a2" disabled="disabled">{{ plan2.course1 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="b2" disabled="disabled">{{ plan2.course2 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="c2" disabled="disabled">{{ plan2.course3 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="d2" disabled="disabled">{{ plan2.course4 }}</textarea></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><textarea class="form-control" rows="1" id="e2" disabled="disabled">{{ plan2.course5 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="f2" disabled="disabled">{{ plan2.course6 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="g2" disabled="disabled">{{ plan2.course7 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="h2" disabled="disabled">{{ plan2.course8 }}</textarea></td>
                    </tr>
                    <tr>
                        <td>Year 2</td>
                        <td><textarea class="form-control" rows="1" id="i2" disabled="disabled">{{ plan2.course9 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="j2" disabled="disabled">{{ plan2.course10 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="k2" disabled="disabled">{{ plan2.course11 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="l2" disabled="disabled">{{ plan2.course12 }}</textarea></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><textarea class="form-control" rows="1" id="m2" disabled="disabled">{{ plan2.course13 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="n2" disabled="disabled">{{ plan2.course14 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="o2" disabled="disabled">{{ plan2.course15 }}</textarea></td>
                        <td><textarea class="form-control" rows="1" id="p2" disabled="disabled">{{ plan2.course16 }}</textarea></td>
                    </tr>
                </table>
            </td>
        </tr>-->
    </table>

    </div>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnEdit').click(function () {
                if ($("#btnEdit").html() == 'Edit') {
                    $("#name").prop("disabled", false);
                    $("#btnEdit").html('Save');
                }
                else {
                    $("#name").prop("disabled", true);
                    $("#btnEdit").html('Edit');
                }
            });
        });

    </script>

{% endblock %}