{% extends 'staff_pages/staff_base.html' %}
{% block content %}
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fa fa-home"></i> Home </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'major' %}"> Major </a>
                    </li>
                    <li class="breadcrumb-item active">{{ bc_param }}</li>
                </ol>
            </nav>
        </div>
        <script type="javascript">
            $("textarea#spec").val().replace("<br>", "&#10;");
        </script>

        <form id="forms"></form>
        <div class="container-fluid">
            <table style="width: 100%">
                <div id="alert">
        </div>
                <tr>
                    <td id=pageTitle style="width: 90%"><h1 class="text-center">{{ major_code }} ({{ major_year }})</h1>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>

        </div>
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog"
             aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body alert-danger text-center">
                        <h4><strong>Warning! Delete action is permanent! You will back to the search page after clicking the
                        delete button.</strong></h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        <button type="button" id="delete" class="btn btn-danger" data-dismiss="modal"
                                id="confirmDeleteButtonModal" onclick=deleteData()>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <button id="btnSave" class="btn btn-outline-success float-left">Save</button>
            <button id="btnDelete" class="btn btn-outline-danger float-right" data-toggle="modal"
                    data-target="#confirmDeleteModal">Delete
            </button>
        </div>
        <div>&nbsp</div>
        <div>&nbsp</div>
        <div class="container h-100">
            <table class="table table-striped">
                <tr>
                    <td style="text-align: right; width: 20%">Code:</td>
                    <td style="text-align: left">{{ major_code }}</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Year:</td>
                    <td style="text-align: left">{{ major_year }}</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Title:</td>
                    <td style="text-align: left">
                        <input type="text" id="title" style="width: 100%">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Description:</td>
                    <td style="text-align: left">
                    <textarea rows="5" type="text" id="description"
                              style="width: 100%">    </textarea><br>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Requirement:</td>
                   <td style=" text-align: left" id="requirement">
            </td>
                </tr>
                <tbody id="majorTable">
            </table>

        </div>
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <script>
            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = location.search.substr(1).match(reg);
                if (r != null) return (r[2]);
                return null;
            }

            var codeS = getQueryString("code");
            var yearS = getQueryString("year");
            var levelS = getQueryString("level")
            var titleS;
            var discription;
            var requirementList = []    ;
            var requrirement = "";
            var length=0;
            var courseUrl = window.location.origin+"/staff"+"/course_detail?";
            let requrirementTable = document.getElementById("requirement");
            $.ajax({
                url: '../search/mms_by_code',
                data: {"query": codeS, "level": levelS, "type": "majors", "year": yearS},
                success: function (data) {
                    titleS = data.responses[0].versions[yearS].title;
                    document.getElementById("title").value = titleS;
                    discription = data.responses[0].versions[yearS].description;
                    document.getElementById("description").value = discription;
                    if (data.responses[0].versions[yearS].requirements["x_from_here"] != undefined) {
                        let requirementData = data.responses[0].versions[yearS].requirements["x_from_here"];
                        for (let j = 0; j < requirementData.length; j++) {
                            requirementList.push(requirementData[j].units)
                            for (let i = 0; i < requirementData[j].courses.length; i++) {
                                requirementList.push(requirementData[j].courses[i])
                            }
                        }
                        for (let j = 0; j < requirementList.length; j++) {
                            let unitLength=0;
                            if(typeof requirementList[j]=="number"){
                                requrirement += "<strong>Choose "+requirementList[j]+"units from follow courses</strong><br>";
                            }
                            else{
                                let link = courseUrl + "code=" + requirementList[j] + "&year=" + yearS;
                                requrirement +=  "<input type=\"text\" id=\"requrirement" + j+ "\"value=\"" + requirementList[j][0].code + "\">" + "<a href =" + link + ">  Course detail<a>" + "<br>";
                            length++;
                            }
                        }
                        requrirementTable.innerHTML = requrirement;
                    }
                }

            });


            $(document).ready(function () {
                $('#btnSave').click(function () {
                    boot4.confirm({
                        msg: "Are you sure you want to save " + codeS + " (" + yearS + ")" + " ?",
                        callback: function (result) {
                            if (result) {
                                let postList=[];
                                let title = document.getElementById("title").value;
                                let description = document.getElementById("description").value;
                                for (let i = 0; i < length; i++) {
                                    if(document.getElementById("requrirement" + i)!=null)
                                    {
                                        postList.push(document.getElementById("requrirement" + i).value);
                                    }
                                }
                                let postListString=JSON.stringify(postList);
                                $.ajax({
                                    url: '../degree/saveMajor',
                                    data: {
                                        "code": codeS,
                                        "year": yearS,
                                        "title":title,
                                        "requirement":postListString
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        $('#alert').html('Save success').addClass('alert-success').show().delay(1500).fadeOut();
                                    }

                                });
                                console.log("save success");
                            } else {
                                console.log("cancel");
                            }
                        }
                    });

                });
            });

            function deleteData() {
                console.log(codeS + yearS);
                $.ajax({
                    url: '../degree/delete',
                    data: {"code": codeS, "type": "majors", "year": yearS},
                    success: function (data) {
                        console.log(data)
                    }

                });
                window.location.href = 'course';
            }

        </script>

{% endblock %}