{% extends 'staff_pages/staff_base.html' %}
{% block content %}
    <script type="javascript">
        $("textarea#spec").val().replace("<br>", "&#10;");
    </script>

    <form id="forms"></form>
    <div class="container-fluid">
        <table style="width: 100%">
            <tr>
                <td style="width: 90%"></td>
                <td>
                    <button id="btnSave">Save</button>
            </tr>
        </table>

        <div class="container h-100">
            <table class="table table-striped">
                <tr>
                    <td style="text-align: right; width: 20%">Code:</td>
                    <td style="text-align: left"><input type="text" id="code" value="" style="width: 100%"></td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Year:</td>
                    <td style="text-align: left"><input type="text" id="year" value="" style="width: 100%"></td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Title:</td>
                    <td style="text-align: left">
                        <input type="text" id="title" value="" style="width: 100%"></td>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Description:</td>
                    <td style="text-align: left">
                    <textarea rows="5" type="text" id="description"
                              style="width: 100%">    </textarea><br>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 20%">Requirement:</td>
                    <td id="requirements" style="text-align: left">
                        <input type="text" id="search" name="courseName" required placeholder="Search Course"
                               autocomplete="off" data-toggle="popover" style="width:30%">
                        <button onclick="showCourse()" class="btn btn-primary btn-lg">Show Course</button>
                    </td>
                </tr>
                <tbody id="majorTable">
            </table>

        </div>
    </div>
    <script>
        function showCourse() {
            let courses = document.getElementById("search").value;
            let tableData = "<tr>";
            courseCodes = [];
            courseVersions = [];
            const courseUnits = [];
            const courseTitles = [];
            const courseDescription = [];
            var versions = "";
            $.ajax({
                url: '../search/coursesearch/',
                data: {
                    "query": courses,
                    "filters": {"codes": [], "levels": [], "sessions": [], "level": "Undergraduate"}
                },
                success: function (data) {
                    year = document.getElementById("year").value;
                    for (let i = 0; i < data.response.length; i++) {
                        if (data.response[i].course_code.toString().toLowerCase().includes(courses.toString().toLowerCase()) == true) {
                            courseCodes.push(data.response[i].course_code);
                            versions = JSON.stringify(data.response[i].versions);
                            courseVersions.push(versions.toString());
                            courseUnits.push(str_substr("units\":\"", "\"", versions));
                            courseTitles.push(str_substr("title\":", ",", versions).replace(/\"/g, ""));
                            courseDescription.push(str_substr("description\":\"", ".", versions) + ".......")
                        }
                    }
                    if (courseCodes.length == 0) {
                        tableData += "<th>" + "No such course" + "</th>" + "</tr>";
                    } else {
                        for (i = 0; i < courseCodes.length + 1; i++) {
                            for (let j = 0; j < 4; j++) {
                                if (i == 0) {
                                    if (j == 0) {
                                        tableData += "<th>" + "course code" + "</th>";
                                    } else if (j == 1) {
                                        tableData += "<th>" + "course units" + "</th>";
                                    } else if (j == 2) {
                                        tableData += "<th>" + "course title" + "</th>";
                                    } else if (j == 3) {
                                        tableData += "<th>" + "course description" + "</th>";
                                    }
                                } else {
                                    if (j == 0) {
                                        tableData += "<td>" +
                                            "<a href=\"course_detail?code=" + courseCodes[i - 1] + "&year=" + year + "&title=" + courseTitles[i - 1] + "\" onClick=\"saveData('" + (i - 1) + "')\">" +
                                            courseCodes[i - 1] +
                                            "</a>" +
                                            "</td>";
                                    } else if (j == 1) {
                                        tableData += "<td>" + courseUnits[i - 1] + "</td>";
                                    } else if (j == 2) {
                                        tableData += "<td>" + courseTitles[i - 1] + "</td>";
                                    } else if (j == 3) {
                                        tableData += "<td>" + courseDescription[i - 1] + "</td>";
                                    }

                                }
                            }
                            tableData += "</tr>" + "<tr>";
                        }
                    }
                    $("#majorTable").html(tableData);
                }
            });
        }

        function saveData(i) {
            //alert("success");
            sessionStorage.setItem("version", courseVersions[i]);
            sessionStorage.setItem("code", courseCodes[i]);
        }

        function str_substr(start, end, str) {
            try {
                temp = str.split(start, 2);
                content = temp[1].split(end, 2);
            } catch (e) {
                console.log(e.name + ":" + e.message);
            }
            return content[0];
        }
    </script>
{% endblock %}