<!-- THIS HTML FILE IS ONLY A DRAFT.
Question 1: How to connect the current file "accounts/form.html" with file "accounts/views"?
Question 2: How to put form.html (user login/register page) in the homepage of AI scheduling website?
-->
<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
</div>
<div class="container" style="background-color:#f1f1f1">
    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
</div>


<!-- THIS HTML FILE IS ONLY A DRAFT. PLEASE SEE THE QUESTION ABOVE-->
{% load crispy_forms_tags %}
{% block content %}
<div class = 'col-sm-8 col-sm-offset-2'>  <!-- increase the left margin of a column by 2 columns-->
    <h1> {{ title }} </h1>   <!-- title is going to be "register" and "login" -->

    <form method = 'POST' action = '' enctype = 'multipart/form-data'> {% csrf_token %}
    {{ form|crispy }}
    <input type = 'submit' class = 'btn btn-default' value = '{{ title }}' />

    </form>
</div>
{% endblock content %}


