{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css"
          integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css"
          integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous"/
    {% stylesheet 'main' %}
    <title>staffSearch</title>
</head>



{% include "dynamic_pages/navbar.html" %}
<body>
<br>
Code:<input type="text" name="code" id="courseCode">
<br>
<br>
Version:<input type="text" name="version" id="courseVersion" >
<br>
<br>
Tittle:<input type="text" name="tittle" id="courseTitle">
<br>
<br>
Session:<input type="text" name="session" id="courseSession">
<br>
<br>
Description:<input type="text" name="description" id="courseDescription">
<br>
<br>
Prescribed texts:<input type="text" name="prescribed_texts" id="prescribed_texts">
<br>
<br>
Prerequisite text:<input type="text" name="Prerequisite_text" id="Prerequisite_text">
<br>
<br>
Majors:<input type="text" name="majors" id="courseMajors">
<br>
<br>
Minors:<input type="text" name="minors" id="courseMinors">
<br>
<br>
Units:<input type="text" name="units" id="courseUnits">
<br>
<br>
Learning outcomes:<input type="text" name="learning_outcomes" id="learning_outcomes">
<br>
<br>
Convener:<input type="text" name="convener" id="courseConvener">
<br>
<br>
Areas of interest:<input type="text" name="areas_of_interest" id="areas_of_interest">
<br>
</body>
<script>
    let code=sessionStorage.getItem("data1");
    let version = sessionStorage.getItem("data2");
    let jsonObject=JSON.parse(version);
    console.log(jsonObject);
    document.getElementById("courseCode").value=code;
    document.getElementById("courseVersion").value=version;
    document.getElementById("courseTitle").value=jsonObject["2014"].title;
</script>

{% include "dynamic_pages/footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
        integrity="sha256-EGs9T1xMHdvM1geM8jPpoo8EZ1V1VRsmcJz8OByENLA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.213.1/aws-sdk.min.js"
        integrity="sha256-UNhE4C4G2iNK4bS34CMHS8oywLzSKwFc0aj7RWmKQJU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"
        integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"
        integrity="sha256-dW8u4dvEKDThJpWRwLgGugbARnA3O2wqBcVerlg9LMc=" crossorigin="anonymous"></script>

</body>
</html>
