{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}}</title>
</head>
<body style="background: linear-gradient(azure, white 40%); background-repeat: no-repeat">

{% include "dynamic_pages/navbar.html" %}

<h1>Feedback Portal</h1>
<form method="post">
    {% csrf_token %}
	<div align="center">
	{{ form.as_p }}
		<div class="form-actions">
		<button type="submit">Send</button>
		</div>
	</div>
</form>

{% include "dynamic_pages/chatbox.html" %}
{% include "dynamic_pages/footer.html" %}
<! IGNORE {%  include 'tellme/js_inc.html' %}>

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/aws-sdk-2.213.1.min.js" %}"></script>
<script src="{% static "js/bootstrap3-typeahead.js" %}"></script>
<script src="{% static "js/autosize.min.js" %}"></script>
<script src="{% static "js/chatbox.js" %}"></script>
</body>
</html>

