{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Degree Builder</title>
</head>
<body style="background: linear-gradient(azure, white 40%); background-repeat: no-repeat">

{% if user.is_authenticated %}

<nav class="navbar navbar-inverse navbar-expand-lg navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="">ICS</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="">Home</a></li>
				<li><a href="https://github.com/AICourseSelection/courseai#ai-course-selection" target="_blank">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">My Account <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-lr" role="menu">
                        <div class="col-lg-12">
                            <form id="ajax-login-form" action="accounts/logout_view" method="post" role="form" autocomplete="off">{% csrf_token %}
                                <div class="form-group">
                                    <div class="row">
                                    <input type="submit" style="margin:10px;" tabindex="3" class="form-control btn btn-success center-block" value="Log out">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
</nav>

{% else %}

<nav class="navbar navbar-inverse navbar-expand-lg navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="">ICS</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="">Home</a></li>
				<li><a href="https://github.com/AICourseSelection/courseai#ai-course-selection" target="_blank">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Register <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-lr" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center"><h3><b>Register</b></h3></div>
                            <form action="accounts/register_view" method="post" role="form" autocomplete="off">{% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="text" name="username" tabindex="1" class="form-control" placeholder="Email" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
									<input type="email" name="username2" tabindex="2" class="form-control" placeholder="Confirm email">
								</div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                    <input type="submit" style="margin:10px;" tabindex="3" class="form-control btn btn-success center-block" value="Register Now">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" data-toggle="dropdown">Log In <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-lr" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center"><h3><b>Log In</b></h3></div>
                            <form action="accounts/login_view" method="post" role="form" autocomplete="off">{% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="text" name="email" tabindex="1" class="form-control" placeholder="Email" value="" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                    <input type="submit" style="margin:10px;" tabindex="3" class="form-control btn btn-success center-block" value="Log In">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
</nav>

{% endif %}

<div class="container" style="margin-bottom: 135px">
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-2">
            <div class="h1 text-center" style="font-weight: lighter">
                <object data="{% static "img/logo.svg" %}" type="image/svg+xml" style="width: 120px; vertical-align: middle; margin-right: 1rem">
                    <img src="{% static "img/logo.png" %}"/>
                </object>
                Intelligent Course Scheduler
            </div>
        </div>
    </div>


    <hr/>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="h3 text-center" style="font-weight: lighter;">Start planning your degree</div>
            <form id="planform" action="planner" method="get">
                <div class="form-row" style="margin-top: 15px">
                    <input type="text" name="degreeName" class="typeahead form-control" required
                           placeholder="What degree do you study?" autocomplete="off" data-toggle="popover">
                    <input type="hidden" name="degreeCode">
                </div>


                <div class="form-row mt-2">
                    <div class="d-inline-block" style="padding-right: 5px; line-height: 2.25">
                        <label>I start(ed) my degree in: </label>
                    </div>
                    <select id="yearList" name="startyear" style="height: 40px; padding: 0 5px; flex-grow: 1"> </select>
                    <div class="d-inline-block" style="padding-left: 5px;">
                        <div class="sem-buttons btn-group btn-group-toggle" data-toggle="buttons">
                            <label style="padding-left: 8px; padding-right: 8px" class="btn btn-outline-dark"><input
                                    type="radio" id="sem_1" name="semester" value="1" required>Semester 1</label>
                            <label style="padding-left: 8px; padding-right: 8px" class="btn btn-outline-dark"><input
                                    type="radio" id="sem_2" name="semester" value="2">Semester 2</label>
                        </div>
                    </div>
                </div>

                <div class="form-row mt-4 mb-2">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Create Your Plan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <hr>
    Created by <em>AI Course Selection</em>:
    <br>
    Joseph Meltzer, Thomas Hamer, Manal Mohania,
    <br>
    Lim Yong Wei, YiLong Wang, Christopher Kim
</div>

<div class="msg_box" style="right: 1%">
    <div class="msg_head">Ask a Question
        <div class="close">&times;</div>
    </div>
    <div class="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">Hi, how can I help you today?</div>
            <div class="msg_push"></div>
        </div>
        <div class="msg_footer"><textarea class="msg_input form-control form-control-plaintext" rows="1"></textarea>
        </div>
    </div>
</div>

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/aws-sdk-2.213.1.min.js" %}"></script>
<script src="{% static "js/bootstrap3-typeahead.js" %}"></script>
<script src="{% static "js/autosize.min.js" %}"></script>
<script src="{% static "js/chatbox.js" %}"></script>
<!-- create drop down list of years available -->
<script> 
var options = "";
for(var i = 2016; i <= 2019; i++){
  options += "<option>"+ i +"</option>";
}
document.getElementById("yearList").innerHTML = options;
</script>

<script>
    var degreeList = new Set();
    var degreeCodes = {};

    $.ajax({
        url: 'degree/all',
        success: function (data) {
            console.log(data);
            var degreeDicts = [];
            for (i in data.response) {
                degreeDicts.push({name: data.response[i].title});
                degreeList.add(data.response[i].title);
                degreeCodes[data.response[i].title] = data.response[i].code;
            }

            $(".typeahead").typeahead({source: degreeDicts});
        }
    });

    var degreeInput = $("input[name=degreeName]");

    degreeInput.popover({
        trigger: 'manual',
        placement: 'bottom',
        html: true,
        content: '<div id="degreeWrongPopover">Please choose a degree from the list.</div>'
    });

    $("#planform").submit(function (e) {
        if (!degreeList.has(degreeInput.val())) {
            e.preventDefault();
            degreeInput.popover('show');
            var popover = $("#degreeWrongPopover").parent().parent();
            popover.addClass('popover-error');
            popover.click(function () {
                degreeInput.popover('hide')
            });
            popover.css('cursor', 'pointer');
            degreeInput.keydown(function () {
                degreeInput.popover('hide')
            });
        }
        $('input[name=degreeCode]').val(degreeCodes[degreeInput.val()]);
    });
</script>
</body>
</html>
