{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/solid.css" %}"/>
    <link rel="stylesheet" href="{% static "css/fontawesome.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Degree Builder</title>
</head>
<body style="background: linear-gradient(azure, white 40%); background-repeat: no-repeat">
<div class="container" style="margin-bottom: 135px">
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-2">
            <div class="h1 text-center" style="font-weight: lighter">
                <object data="{% static "img/logo.svg" %}" type="image/svg+xml"
                        style="width: 120px; vertical-align: middle; margin-right: 1rem">
                    <img src="{% static "img/logo.png" %}"/>
                </object>
                Intelligent Course Scheduler
            </div>
        </div>
    </div>


    <hr/>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="h3 text-center" style="font-weight: lighter;">Start planning your degree</div>
            <form id="planform" action="planner" method="get">
                <div class="form-row" style="margin-top: 15px; flex-wrap: nowrap">
                    <input type="text" name="degreeName" class="typeahead form-control" required
                           placeholder="What degree do you study?" autocomplete="off" data-toggle="popover">
                    <input class="degree-code" type="hidden" name="degreeCode">
                    <button id="fdd-button" class="btn btn-outline-success">Double Degree</button>

                </div>

                <div id="fdd-row" class="form-row mt-1" style="display: none">
                    <input type="text" name="degreeName2" class="typeahead form-control"
                           placeholder="Add a second degree" autocomplete="off" data-toggle="popover">
                    <input class="degree-code" type="hidden" name="degreeCode2">
                </div>

                <div class="form-row mt-2">
                    <div class="d-inline-block" style="padding-right: 5px; line-height: 2.25">
                        <label>I start(ed) my degree in: </label>
                    </div>
                    <div class="d-inline-block" style="padding: 0 5px; flex-grow: 1">
                        <input type="text" name="startyear" class="form-control" required
                               placeholder="Year" maxlength="4" minlength="4">
                    </div>
                    <div class="d-inline-block" style="padding-left: 5px;">
                        <div class="sem-buttons btn-group btn-group-toggle" data-toggle="buttons">
                            <label style="padding-left: 8px; padding-right: 8px" class="btn btn-outline-dark"><input
                                    type="radio" id="sem_1" name="semester" value="1" required>Semester 1</label>
                            <label style="padding-left: 8px; padding-right: 8px" class="btn btn-outline-dark"><input
                                    type="radio" id="sem_2" name="semester" value="2">Semester 2</label>
                        </div>
                    </div>
                </div>

                <div class="form-row mt-4 mb-2">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Create Your Plan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <hr>
    Created by <em>AI Course Selection</em>:
    <br>
    Joseph Meltzer, Thomas Hamer, Manal Mohania,
    <br>
    Lim Yong Wei, YiLong Wang, Christopher Kim
    <br>
    Scarlett Qin, Thien Bui-Nguyen
</div>

{% include "dynamic_pages/chatbox.html" %}

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/aws-sdk-2.213.1.min.js" %}"></script>
<script src="{% static "js/bootstrap3-typeahead.js" %}"></script>
<script src="{% static "js/autosize.min.js" %}"></script>
<script src="{% static "js/chatbox.js" %}"></script>
<script>
    const degreeList = new Set();
    const degreeCodes = {};

    let fdd = false;

    $.ajax({
        url: 'degree/all',
        success: function (data) {
            console.log(data);
            let degreeDicts = [];
            for (i in data.response) {
                degreeDicts.push({name: data.response[i].title});
                degreeList.add(data.response[i].title);
                degreeCodes[data.response[i].title] = data.response[i].code;
            }

            $('.typeahead').typeahead({source: degreeDicts});
        }
    });

    let degreeInputs = $('input.typeahead');

    degreeInputs.popover({
        trigger: 'manual',
        placement: 'bottom',
        html: true,
        content: '<div class="degreeWrongPopover">Please choose a degree from the list.</div>'
    });

    $('#fdd-button').click(function (e) {
        e.preventDefault();
        if (fdd) {
            $(this).text('Double Degree')
        } else {
            $(this).text('Single Degree')
        }
        $('#fdd-row').toggle();
        fdd = !fdd;
    });

    $('#planform').submit(function (e) {
        const fddField = $(degreeInputs[1]);
        for (let i = 0; i < degreeInputs.length; i++) {
            if (!(i === 0 || fdd)) continue;
            const field = $(degreeInputs[i]);
            if (!degreeList.has(field.val())) {
                e.preventDefault();
                field.popover('show');
                errorPopoverSetup(field);
            }
            $($('input.degree-code')[i]).val(degreeCodes[field.val()]);
        }
        if (fddField.val() === $(degreeInputs[0]).val()) {
            e.preventDefault();
            fddField.popover('show');
            const popover = $(fddField.data('bs.popover').tip);
            popover.find('.degreeWrongPopover').text('You cannot add two of the same degree.');
            errorPopoverSetup(fddField);
        }
    });
    function errorPopoverSetup(source) {
        popover = $(source.data('bs.popover').tip);
        popover.addClass('popover-error');
        popover.click(function () {
            source.popover('hide')
        });
        popover.css('cursor', 'pointer');
        source.keydown(function () {
            source.popover('hide')
        });
    }
</script>
</body>
</html>
