{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css"
          integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css"
          integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous"
    /
    {% stylesheet 'main' %}
    <title>staffSearch</title>
</head>

<style type="text/css">
    .topcorner {
        position: absolute;
        top: 70px;

        right: 0;
    }
    .title_box{
width: 60%;
overflow: hidden;
        left:50px;
display: flex;
}
</style>
{% include "dynamic_pages/navbar.html" %}
<body>
<select id="year" class="topcorner" onchange="resetAll()">
    <option value="2014" selected="selected">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
</select>
<br>
<br>
Code:<input type="text" class="type-active" name="code" id="majorCode">
<span id="dis"></span>
<br>
<br>
Year:<input type="text" name="year" id="majorYear">
<br>
<br>
Title:<input type="text" name="title" id="majorTitle">
<br>
<br>
Description:<textarea rows="10" cols="30" name="description" id="majorDescription" class="title_box"></textarea>
<br>
<br>
Requirements:<textarea rows="10" cols="30" type="text" name="requirement" id="majorRequirements" class="title_box"></textarea>
</body>
<script>
    let year = document.getElementById("year").value;
    let code = sessionStorage.getItem("data1");
    let version = sessionStorage.getItem("data2");
    let jsonObject = JSON.parse(version);
    var majorRequ = "";
    console.log(year);
    console.log(jsonObject);
    document.getElementById("majorCode").value = code;
    document.getElementById("majorYear").value = year;
    document.getElementById("majorDescription").value = jsonObject[year].description;
    document.getElementById("majorTitle").value = jsonObject[year].title;
    for (let i in jsonObject[year].requirements.x_from_here) {
        majorRequ = majorRequ + "Units:" + jsonObject[year].requirements.x_from_here[i].units + "\n" + "  Courses:";
        for (let j in jsonObject[year].requirements.x_from_here[i].courses) {
            majorRequ = majorRequ + jsonObject[year].requirements.x_from_here[i].courses[j][0].code + ",";
        }
        majorRequ = majorRequ + "\n";
    }
    document.getElementById("majorRequirements").value = majorRequ;
    function resetAll() {
        year = document.getElementById("year").value;
        document.getElementById("majorYear").value = year;
        if (jsonObject[year] == undefined) {
            document.getElementById("majorDescription").value = "";
            document.getElementById("majorTitle").value = "";
            document.getElementById("majorRequirements").value = "";
        } else {
            majorRequ="";
            document.getElementById("majorDescription").value = jsonObject[year].description;
            document.getElementById("majorTitle").value = jsonObject[year].title;
            for (let i in jsonObject[year].requirements.x_from_here) {
                majorRequ = majorRequ + "Units:" + jsonObject[year].requirements.x_from_here[i].units + "\n" + "  Courses:";
                for (let j in jsonObject[year].requirements.x_from_here[i].courses) {
                    majorRequ = majorRequ + jsonObject[year].requirements.x_from_here[i].courses[j][0].code + ",";
                }
                majorRequ = majorRequ + "\n";
            }
            console.log(majorRequ);
            document.getElementById("majorRequirements").value = majorRequ;
        }
    }

</script>

{% include "dynamic_pages/footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
        integrity="sha256-EGs9T1xMHdvM1geM8jPpoo8EZ1V1VRsmcJz8OByENLA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.213.1/aws-sdk.min.js"
        integrity="sha256-UNhE4C4G2iNK4bS34CMHS8oywLzSKwFc0aj7RWmKQJU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"
        integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"
        integrity="sha256-dW8u4dvEKDThJpWRwLgGugbARnA3O2wqBcVerlg9LMc=" crossorigin="anonymous"></script>

</body>
</html>
