{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css"
          integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css"
          integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Degree Builder</title>
</head>
<body>
<div class="planner-container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="h1 text-center">Plan Your Degree</div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 h3 text-center" id="degree-title" tabindex="1">
            <div id="upload-button" class="btn btn-outline-success" tabindex="2">Submit Degree Plan</div>
            <div id="rc-button" class="btn btn-outline-danger" tabindex="3">Reset/Clear Courses</div>
        </div>
        <div id="courses-forced-notice" class="col-12 h6 text-center alert alert-warning">
            Warning: the following courses were added despite not meeting their requirements or availability:
            <span id="courses-forced-list"></span>
        </div>
        <div id="degree-submit-success" class="mx-auto mb-0 d-none alert alert-success alert-dismissible" role="alert">
            <strong>Thank you!</strong> Your degree plan was submitted successfully.
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3" id="left-panel">
            <div class="form-row">
                <label class="h5 text-center" for="add-course" style="width: 100%">
                    Add a course
                    <button id="show-filters" class="btn btn-outline-secondary btn-sm"><i class="fas fa-filter"></i>
                    </button>
                </label>
                <input type="text" name="query" class="form-control" id="add-course" tabindex="4"
                       placeholder="Interest, subject area, course code... " autocomplete="off">
                <div id="filter-icons" class="mt-1">
                </div>
            </div>
            <div id="search-results-list" class="popover-region" style="margin: .5rem -5px">
                <div class="card alert-info mb-2">
                    <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                         data-target="#results-courses">
                        Courses
                    </div>
                    <div class="fa fa-refresh fa-spin mx-auto my-auto py-2"
                         style="font-size: 3rem; display: none"></div>
                    <div id="results-courses" class="collapse">
                        <div class="card-body list-group list-group-flush">
                        </div>
                    </div>
                </div>
                <div class="card alert-info mb-2">
                    <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                         data-target="#results-majors">
                        Majors
                    </div>
                    <div class="fa fa-refresh fa-spin mx-auto my-auto py-2"
                         style="font-size: 3rem; display: none"></div>
                    <div id="results-majors" class="collapse">
                        <div class="card-body list-group list-group-flush">
                        </div>
                    </div>
                </div>
                <div class="card alert-info mb-2">
                    <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                         data-target="#results-minors">
                        Minors
                    </div>
                    <div class="fa fa-refresh fa-spin mx-auto my-auto py-2"
                         style="font-size: 3rem; display: none"></div>
                    <div id="results-minors" class="collapse">
                        <div class="card-body list-group list-group-flush">
                        </div>
                    </div>
                </div>
                <div class="card alert-info mb-2">
                    <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                         data-target="#results-specs">
                        Specialisations
                    </div>
                    <div class="fa fa-refresh fa-spin mx-auto my-auto py-2"
                         style="font-size: 3rem; display: none"></div>
                    <div id="results-specs" class="collapse">
                        <div class="card-body list-group list-group-flush">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" id="centre-panel" style="min-width: 658px;">
            <div id="plan-grid" class="popover-region"></div>
        </div>
        <div class="col-3 popover-region" id="right-panel">
            <div class="h5 text-center" id="degree-header">
                <label>Your Degree</label>
                <span class="h6 unit-count"></span>
            </div>
            <div id="degree-reqs-list"></div>
            <label class="h5 text-center" style="width: 100%">Your Majors, Minors, and Specialisations</label>
            <div id="mms-active-list"></div>
        </div>
    </div>
</div>

<div class="modal" id="incompat-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <h5 class="modal-title">Course Incompatibility</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The course you are attempting to add (<span id="incompat-course1"></span>) is incompatible with
                    another course in your degree (<span id="incompat-course2"></span>). You will need to obtain a
                    permission code from the course convenor in order to enrol. </p>
            </div>
            <div class="modal-footer">
                <button id="course-add-override" type="button" class="btn btn-primary" data-dismiss="modal">Add Course
                    Anyway
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="prereq-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <h5 class="modal-title">Course Prerequisites Not Met</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You are missing some prerequisites for the course you are attempting to add (<span
                        id="prereq-modal-course"></span>). Check its prerequisites and try again, or you can add the
                    course anyway but will need to obtain a permission code from the course convenor in order to enrol.
                </p>
            </div>
            <div class="modal-footer">
                <button id="course-add-override" type="button" class="btn btn-primary" data-dismiss="modal">Add Course
                    Anyway
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="rc-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title">Reset/Clear Degree Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You may reset your degree plan to the default for your degree, or clear it completely. </p>
                <p>These actions cannot be undone. </p>
            </div>
            <div class="modal-footer">
                <button id="confirm-clear-button" type="button" class="btn btn-danger" data-dismiss="modal">
                    Clear All Courses
                </button>
                <button id="confirm-reset-button" type="button" class="btn btn-danger" data-dismiss="modal">
                    Reset Degree Plan
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="upload-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h5 class="modal-title">Submit Degree Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>When you have finished planning your degree, you can send your degree plan to us.
                    This is anonymous, and we use it to improve the accuracy of our AI course recommendation. </p>
            </div>
            <div class="modal-footer">
                <button id="confirm-upload-button" type="button" class="btn btn-success" data-dismiss="modal">
                    Submit Degree Plan
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="msg_box">
    <div class="msg_head">Ask a Question
        <div class="close">&times;</div>
    </div>
    <div class="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">Hi, how can I help you today?</div>
            <div class="msg_push"></div>
        </div>
        <div class="msg_footer"><textarea class="msg_input form-control form-control-plaintext" rows="1"></textarea>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.213.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
<script src="{% static "js/autosize.min.js" %}"></script>
<script src="{% static "js/chatbox.js" %}"></script>
<script>
    const degree_name = "{{ degree_name }}";
    const degree_code = "{{ degree_code }}";
    const start_year = {{ start_year }};
    const start_sem = {{ start_sem }};
</script>
<script src="{% static "js/planner.js" %}"></script>
</body>
</html>