{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Degree Builder</title>
</head>
<body>
<div class="planner-container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="h1 text-center">Plan Your Degree</div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-12 h3 text-center" id="degree-title" tabindex="1">
            <div id="edit-button" class="btn btn-info" tabindex="2">Edit</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3" id="right-panel">
            <div class="form-row">
                <label class="h5 text-center" for="add-course" style="width: 100%">Add a
                    course</label>
                <input type="text" name="query" class="form-control" id="add-course" tabindex="3"
                       placeholder="Interest, subject area, course code... " autocomplete="off">
                <div id="filter-icons" class="mt-1">
                </div>
            </div>
            <div id="search-results-list" style="margin: .5rem -5px">
                <div class="card alert-info mb-2">
                    <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                         data-target="#results-courses">
                        Courses
                    </div>
                    <div class="fa fa-refresh fa-spin mx-auto my-auto py-2"
                         style="font-size: 3rem; display: none"></div>
                    <div id="results-courses" class="collapse">
                        <div class="card-body list-group list-group-flush">
                        </div>
                    </div>
                </div>
                <div class="card alert-info mb-2">
                    <div class="card-header btn collapsed text-left pl-2" data-toggle="collapse"
                         data-target="#results-majors">
                        Majors, Minors, and Specialisations
                    </div>
                    <div class="fa fa-refresh fa-spin mx-auto my-auto py-2"
                         style="font-size: 3rem; display: none"></div>
                    <div id="results-majors" class="collapse">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6" id="centre-panel" style="min-width: 618px;">
            <div id="plan-grid"></div>
        </div>
        <div class="col-3" id="left-panel">
            <h5>Panel 3 Test</h5>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<script>
    var dp = {
        "degree_program": "Bachelor of Advanced Computing (Honours)",
        "start_year": 2016,
        "start_semester": 1,
        "courses": {
            "2016S1": [
                {
                    "code": "COMP1130",
                    "title": "Introduction to Programming and Algorithms (Advanced)"
                },
                {
                    "code": "MATH1115",
                    "title": "Advanced Mathematics and Applications 1"
                },
                {
                    "code": "STAT1003",
                    "title": "Statistical Techniques"
                },
                {
                    "code": "Elective Course"
                }
            ],
            "2016S2": [
                {
                    "code": "COMP1140",
                    "title": "Introduction to Software Systems (Advanced)"
                },
                {
                    "code": "MATH1116",
                    "title": "Advanced Mathematics and Applications 2"
                },
                {
                    "code": "COMP2600",
                    "title": "Formal Methods in Software Engineering"
                },
                {
                    "code": "Elective Course"
                }
            ],
            "2017S1": [
                {
                    "code": "COMP2100",
                    "title": "Software Construction"
                },
                {
                    "code": "COMP2300",
                    "title": "Introduction to Computer Systems"
                },
                {
                    "code": "COMP2550",
                    "title": "Advanced Computing R&D Methods"
                },
                {
                    "code": "Elective Course"
                }
            ],
            "2017S2": [
                {
                    "code": "COMP2130",
                    "title": "Software Analysis and Design"
                },
                {
                    "code": "COMP2310",
                    "title": "Concurrent and Distributed Systems"
                },
                {
                    "code": "COMP2560",
                    "title": "Studies in Advanced Computing R&D"
                },
                {
                    "code": "Elective Course"
                }
            ]
        }
    };
    const title_text = dp["degree_program"] + " starting " + dp["start_year"] + " Semester " + dp["start_semester"];
    var title_box = $('#degree-title');
    title_box.prepend(title_text);
    title_box.hover(function () {
        $('#edit-button').fadeIn(150);
    }, function () {
        $('#edit-button').fadeOut(150);
    });

    var course_descriptions = new Set();

    var tab_index_count = 4;
    var grid = $('#plan-grid');
    var course_dict = dp["courses"];
    for (var session in course_dict) {
        if (course_dict.hasOwnProperty(session)) {
            const year = session.split('S')[0];
            const sem = session.split('S')[1];
            var first_cell = '<div class="first-cell">' +
                '<div class="row-year h4">' + year + '</div>' +
                '<div class="row-sem h5">Semester ' + sem + '</div>' +
                '</div>';
            var row = $('<div class="plan-row"/>');
            row.append(first_cell);
            const course_list = course_dict[session];
            for (var i in course_list) {
                const course = course_list[i];
                var cell = $('<div class="plan-cell result-course" tabindex="' + tab_index_count + '"/>');
                tab_index_count++;
                cell.append('<div class="course-code">' + course['code'] + '</div>');
                cell.append('<div class="course-title">' + (course['title'] || "") + '</div>');
                row.append(cell);
            }
            grid.append(row);
        }
    }

    function popoverSetup() {
        const code = $(this).find('.course-code').text();
        if (code === "Elective Course") return;
        const title = $(this).find('.course-title').text();
        $(this).popover({
            trigger: 'click',
            title: code,
            placement: 'right',
            html: true,
            content: '<div class="result-title mb-1">' + title + '</div>\n' +
            '<div class="d-flex">\n' +
            '    <div class="fa fa-refresh fa-spin mx-auto my-auto py-2" style="font-size: 2rem;"></div>\n' +
            '</div>'
        });
        $(this).on('show.bs.popover', popoverData)
    }

    function popoverData() {
        const code = $(this).find('.course-code').text();
        var popover = $(this).data('bs.popover');
        if (popover['data-received'] || false) {
            return;
        }
        $.ajax({
            url: 'https://private-dc05d-courseai.apiary-mock.com/degree/coursedata/course_code',
            success: function (data) {
                const html = '<h6 class="mt-2">Description</h6>\n' +
                    '<div class="result-description">' + data.description + '</div>\n' +
                    '<h6 class="mt-2">Learning Outcomes</h6>\n' +
                    '<div class="result-learning">' + data.learning_outcomes + '</div>\n' +
                    '<h6 class="mt-2">Related Courses</h6>\n' +
                    '<div class="list-group">\n' +
                    '    <div class="draggable-course result-course list-group-item list-group-item-action">\n' +
                    '        <span class="course-code">COMP4670</span>\n' +
                    '        <span class="course-title">Introduction to Statistical Machine Learning</span>\n' +
                    '    </div>\n' +
                    '    <div class="draggable-course result-course list-group-item list-group-item-action">\n' +
                    '        <span class="course-code">COMP4680</span>\n' +
                    '        <span class="course-title">Advanced Topics in Statistical Machine Learning</span>\n' +
                    '    </div>\n' +
                    '</div>';
                popover.config.content = $(popover.config.content).first().html();
                popover.config.content += html;
                var curr_popover = $(popover.tip);
                curr_popover.find('.fa-refresh').css({'display': 'none'});
                curr_popover.find('.popover-body').append(html);
                popover['data-received'] = true;
            },
            error: function () {
                console.log('error')
            }
        })
    }

    $('.result-course').each(popoverSetup);

    var curr_search_request = null;

    $('#add-course').on('keyup', function () {
        if (curr_search_request != null) {
            curr_search_request.abort();
        }
        curr_search_request = $.ajax({
            url: 'https://private-dc05d-courseai.apiary-mock.com/search',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function () {
                var resultsList = $('#search-results-list');
                resultsList.find('.fa-refresh').css({'display': 'inline-block'});
                resultsList.find('.collapse').css({'display': 'none'});
                resultsList.find('.result-course').popover('hide');

            },
            success: updateSearchResults,
            error: function () {
                console.log('Course search aborted or failed. ')
            },
            complete: console.log('Course search initiated. ')
        });
    });

    function updateSearchResults(data) {
        var response = data['response'];
        if (response.length > 0) {
            var results = $('#results-courses');
            var cbody = $(results.find('.card-body'));
            cbody.find('.result-course').popover('dispose');
            cbody.empty();
            for (var i = 0; i < response.length; i++) {
                const code = response[i]['code'];
                const title = response[i]['title'];
                var item = $(
                    '<div class="draggable-course result-course list-group-item list-group-item-action">\n    ' +
                    '<span class="course-code">' + code + '</span>\n    ' +
                    '<span class="course-title">' + title + '</span>\n' +
                    '</div>');
                item.each(popoverSetup);
                cbody.append(item);

            }
            var resultsList = $('#search-results-list');
            resultsList.find('.fa-refresh').css({'display': 'none'});
            resultsList.find('.collapse').css({'display': ''});
            results.collapse('show');
        }
        console.log('Course search successful')
    }

    $('#results-courses').on('hide.bs.collapse', function () {
        console.log('collapse');
        $(this).find('.result-course').popover('hide');
    });

    const current_filters = new Set();

    $('.plan-cell').click(function () {
        if ($(this).find('.course-code').text() === 'Elective Course') {
            var first_cell = $(this).parent().find('.first-cell');
            const year = first_cell.find('.row-year').text();
            const sem = first_cell.find('.row-sem').text();
            const badge_text = 'My ' + year + ' ' + sem;
            if (current_filters.has(badge_text)) {
                return;
            }
            var filter_icon = $('<span class="badge badge-primary">' + badge_text +
                '</span>');
            var delete_button = $('<a class="filter-delete">×</a>');
            delete_button.click(deleteFilter);
            filter_icon.append(delete_button);
            $('#filter-icons').append(filter_icon, ' ');
            current_filters.add(badge_text);
        }
    });

    function deleteFilter() {
        current_filters.delete(this.previousSibling.textContent);
        $(this).parent().remove();
    }

    $('.filter-delete').click(deleteFilter)

</script>
</body>
</html>