{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css"
          integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css"
          integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous"/>
    <style>table {
        margin: auto
    }</style>
    {% stylesheet 'main' %}
    <title>staffSearch</title>
</head>

<body style="background: linear-gradient(azure, white 40%); background-repeat: no-repeat">


{% include "dynamic_pages/navbar.html" %}

<wrapper class="d-flex flex-column">
    <div class="container" style="margin-bottom: 135px">


        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <div class="h3 text-center" style="font-weight: lighter;">Programs and Course</div>
            </div>
            <div class="form-row mt-4 mb-2">
                <button onclick="showDegree()" class="btn btn-primary btn-lg">Show Degree</button>
                <input type="text" id=degrees name="degrees" class="typeahead form-control"
                       placeholder="Add a degree" autocomplete="off" data-toggle="popover">
                <button onclick="showMajors()" class="btn btn-primary btn-lg">Show Majors</button>
                <input type="text" id=majors name="majors" class="typeahead form-control"
                       placeholder="Add a major" autocomplete="off" data-toggle="popover">
                <button onclick="showMinors()" class="btn btn-primary btn-lg">Show Minors</button>
                <input type="text" id=minors name="minors" class="typeahead form-control"
                       placeholder="Add a minor" autocomplete="off" data-toggle="popover">
                <button onclick="showSpecs()" class="btn btn-primary btn-lg">Show Spec</button>
                <input type="text" id=specs name="specs" class="typeahead form-control"
                       placeholder="Add a specs" autocomplete="off" data-toggle="popover">
                <button onclick="showCourse()" class="btn btn-primary btn-lg">Show Course</button>
                <input type="text" id=courses name="courses" class="typeahead form-control"
                       placeholder="Add a course" autocomplete="off" data-toggle="popover">
            </div>
            <br/>
            <br/>
                <table width="100%" border="1" cellspacing="10" align="center">
                        <tbody id="Table">
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</wrapper>

{% include "dynamic_pages/footer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
        integrity="sha256-EGs9T1xMHdvM1geM8jPpoo8EZ1V1VRsmcJz8OByENLA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.213.1/aws-sdk.min.js"
        integrity="sha256-UNhE4C4G2iNK4bS34CMHS8oywLzSKwFc0aj7RWmKQJU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"
        integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"
        integrity="sha256-dW8u4dvEKDThJpWRwLgGugbARnA3O2wqBcVerlg9LMc=" crossorigin="anonymous"></script>

<script>
    var courses = {
        "codes": document.getElementById("courses")
    }

    function showCourse() {
        courseCodes = []
        courseVersions = []
        $.ajax({
            type: 'POST',
            dataType: "json",
            data: courses,
            url: 'search/courselists',
            error: function () {
                alert('fail');
            },
            success: function (data) {
                alert("success")
                for (i in data.response) {
                    courseCodes.push(data.response[i]._source.code);
                    courseVersions.push(JSON.stringify(data.response[i]._source.versions));
                }
                let table = document.createElement('table');
                for (var i = 0; i < courseCodes.length; i++) {
                    var row = table.insertRow();
                    for (var j = 0; j < 2; j++) {

                            var cell = row.insertCell();
                            if (j == 0) {
                                cell.innerHTML = courseCodes[i];
                            } else {
                                cell.innerHTML = courseVersions[i];
                            }

                    }
                }
                $("#Table").html(table);
            }
        });
    }

    function showDegree() {
        let degree = document.getElementById("degrees").value;
        console.log(typeof (degree));
        const degreeCodes = [];
        const degreeDicts = [];
        $.ajax({
            url: 'degree/all',
            success: function (data) {
                for (i in data.response) {
                    if (data.response[i].title.toString().toLowerCase().indexOf(degree.toLowerCase()) != -1) {
                        degreeDicts.push(data.response[i].title);
                        degreeCodes.push(data.response[i].code);
                    }
                }
                let table = document.createElement('table');
                let head=document.createElement('table');
                if (degreeDicts.length == 0) {
                    var row = table.insertRow();
                    var cell = row.insertCell();
                    cell.innerHTML = "No such degree."
                }
                for (var i = 0; i < degreeDicts.length; i++) {
                    var row = table.insertRow();
                    for (var j = 0; j < 2; j++) {
                        var cell = row.insertCell();
                        if (j == 0) {

                            cell.innerHTML = degreeDicts[i];
                        } else {
                            cell.innerHTML = degreeCodes[i];
                        }
                    }
                }
                $("#Table").html(table);
                $("#Tablehead").html(table);
            }
        });
    }

    function showMajors() {
        let majors = document.getElementById("majors").value;
        console.log(majors)
        const majorsCodes = [];
        const majorsTitles = [];
        const majorVersions = [];
        $.ajax({
            url: 'search/majors',
            data: {"query": majors, "level": "undergraduate"},
            success: function (data) {
                console.log("success");
                console.log(data.responses);
                console.log(data.responses[0].versions);
                console.log(data.responses[0].versions["2019"].title);
                for (i in data.responses) {
                    majorsCodes.push(data.responses[i].code);
                    majorsTitles.push(JSON.stringify(data.responses[i].versions["2019"].title));
                    majorVersions.push(JSON.stringify(data.responses[i].versions["2019"].description));
                }
                let table = document.createElement('table');
                for (var i = 0; i < majorsCodes.length; i++) {
                    var row = table.insertRow();
                    for (var j = 0; j < 3; j++) {
                        var cell = row.insertCell();
                        if (j == 0) {
                            cell.innerHTML = majorsCodes[i];
                        } else if (j == 1) {
                            cell.innerHTML = majorsTitles[i];
                        } else {
                            cell.innerHTML = majorVersions[i];
                        }
                    }
                }
                $("#Table").html(table);
            }
        });
    }

    function showMinors() {
        minorCodes = []
        minorVersions = []
        $.ajax({
            url: 'search/minors',
            success: function (data) {
                for (i in data.response) {
                    minorCodes.push(data.response[i]._source.code);
                    minorVersions.push(JSON.stringify(data.response[i]._source.versions));
                }
                let table = document.createElement('table');
                for (var i = 0; i < minorCodes.length; i++) {
                    var row = table.insertRow();
                    for (var j = 0; j < 2; j++) {
                        var cell = row.insertCell();
                        if (j == 0) {
                            cell.innerHTML = minorCodes[i];
                        } else {
                            cell.innerHTML = minorVersions[i];
                        }
                    }
                }
                $("#Table").html(table);
            }
        });
    }

    function showSpecs() {
        specsCodes = []
        specsVersions = []
        $.ajax({
            url: 'search/specs',
            success: function (data) {
                for (i in data.response) {
                    specsCodes.push(data.response[i]._source.code);
                    specsVersions.push(JSON.stringify(data.response[i]._source.versions));
                }
                let table = document.createElement('table');
                for (var i = 0; i < specsCodes.length; i++) {
                    var row = table.insertRow();
                    for (var j = 0; j < 2; j++) {
                        var cell = row.insertCell();
                        if (j == 0) {
                            cell.innerHTML = specsCodes[i];
                        } else {
                            cell.innerHTML = specsVersions[i];
                        }
                    }
                }
                $("#Table").html(table);
            }
        });
    }


</script>
</body>
</html>
