<div class="container">
    <ul>
        <li>Degree/Program</li>
        <ul>
            <li><a href="degree">Query</a></li>
            <li><a href="degreeAdd">Add</a></li>
        </ul>
        <li>Course</li>
        <ul>
            <li><a href="course">Query</a></li>
            <li><a href="courseAdd">Add</a></li>
        </ul>
        <li>Major Minor Specialisation</li>
        <ul>
            <li><a href="mms">Query</a></li>
            <li><a href="mmsAdd">Add</a></li>
        </ul>
    </ul>
</div>