
<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group sticky-top sticky-offset">
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>MAIN MENU</small>
            </li>
            <!-- /END Separator -->
            <!-- Menu with submenu -->
            <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-dashboard fa-fw mr-3"></span>
                    <span class="menu-collapsed">Dashboard</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id="submenu1" class="collapse sidebar-submenu">
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Charts</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Reports</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Tables</span>
                </a>
            </div>
            <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-user fa-fw mr-3"></span>
                    <span class="menu-collapsed">Profile</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id="submenu2" class="collapse sidebar-submenu">
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Settings</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Password</span>
                </a>
            </div>
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-tasks fa-fw mr-3"></span>
                    <span class="menu-collapsed">Tasks</span>
                </div>
            </a>
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>OPTIONS</small>
            </li>
            <!-- /END Separator -->
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-calendar fa-fw mr-3"></span>
                    <span class="menu-collapsed">Calendar</span>
                </div>
            </a>
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-envelope-o fa-fw mr-3"></span>
                    <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                </div>
            </a>
            <!-- Separator without title -->
            <li class="list-group-item sidebar-separator menu-collapsed"></li>
            <!-- /END Separator -->
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-question fa-fw mr-3"></span>
                    <span class="menu-collapsed">Help</span>
                </div>
            </a>
            <a href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                    <span id="collapse-text" class="menu-collapsed">Collapse</span>
                </div>
            </a>
            <!-- Logo -->
            <li class="list-group-item logo-separator d-flex justify-content-center">
                <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30">
            </li>
        </ul>
        <!-- List Group END-->
    </div>
    <!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col py-3">

        <h1>h1h1h1</h1>

    </div>
    <!-- Main Col END -->

</div>
<!-- body-row END -->
<!--
<tr>
{#            https://bootsnipp.com/snippets/exE6D#}
             <td style="text-align: right; width: 20%">Study Plan (Start Sem 1):</td>
            <td style="text-align: left">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-year1-1-tab" data-toggle="tab" href="#nav-year1-1" role="tab" aria-controls="nav-year1-1" aria-selected="true">Year 1</a>
                      <a class="nav-item nav-link" id="nav-year2-1-tab" data-toggle="tab" href="#nav-year2-1" role="tab" aria-controls="nav-year2-1" aria-selected="false">Year 2</a>
                    </div>
                  </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-year1-1" role="tabpanel" aria-labelledby="nav-year1-1-tab">
                        <table>
                            <tr>
                                <td>{{ plan1.course1 }}</td>
                                <td>{{ plan1.course2 }}</td>
                                <td>{{ plan1.course3 }}</td>
                                <td>{{ plan1.course4 }}</td>
                            </tr>
                            <tr>
                                <td>{{ plan1.course5 }}</td>
                                <td>{{ plan1.course6 }}</td>
                                <td>{{ plan1.course7 }}</td>
                                <td>{{ plan1.course8 }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-year2-1" role="tabpanel" aria-labelledby="nav-year2-1-tab">
                      <table>
                            <tr>
                                <td>{{ plan1.course9 }}</td>
                                <td>{{ plan1.course10 }}</td>
                                <td>{{ plan1.course11 }}</td>
                                <td>{{ plan1.course12 }}</td>
                            </tr>
                            <tr>
                                <td>{{ plan1.course13 }}</td>
                                <td>{{ plan1.course14 }}</td>
                                <td>{{ plan1.course15 }}</td>
                                <td>{{ plan1.course16 }}</td>
                            </tr>
                        </table>
                    </div>

                  </div>
            </td>
        </tr>

        <tr>
             <td style="text-align: right; width: 20%">Study Plan (Start Sem 2):</td>
            <td style="text-align: left">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-year1-2-tab" data-toggle="tab" href="#nav-year1-2" role="tab" aria-controls="nav-year1-2" aria-selected="true">Year 1</a>
                      <a class="nav-item nav-link" id="nav-year2-2-tab" data-toggle="tab" href="#nav-year2-2" role="tab" aria-controls="nav-year2-2" aria-selected="false">Year 2</a>
                    </div>
                  </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-year1-2" role="tabpanel" aria-labelledby="nav-year1-2-tab">
                        <table>
                            <tr>
                                <td>{{ plan1.course1 }}</td>
                                <td>{{ plan1.course2 }}</td>
                                <td>{{ plan1.course3 }}</td>
                                <td>{{ plan1.course4 }}</td>
                            </tr>
                            <tr>
                                <td>{{ plan1.course5 }}</td>
                                <td>{{ plan1.course6 }}</td>
                                <td>{{ plan1.course7 }}</td>
                                <td>{{ plan1.course8 }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-year2-2" role="tabpanel" aria-labelledby="nav-year2-2-tab">
                      <table>
                            <tr>
                                <td>{{ plan1.course9 }}</td>
                                <td>{{ plan1.course10 }}</td>
                                <td>{{ plan1.course11 }}</td>
                                <td>{{ plan1.course12 }}</td>
                            </tr>
                            <tr>
                                <td>{{ plan1.course13 }}</td>
                                <td>{{ plan1.course14 }}</td>
                                <td>{{ plan1.course15 }}</td>
                                <td>{{ plan1.course16 }}</td>
                            </tr>
                        </table>
                    </div>

                  </div>
            </td>
        </tr>
-->